<style>
    .blockDiv {
        margin-bottom: 30px;
        height: 30px;
    }

    .audDiv,
    .contentDiv {
        display: inline;
    }

    .contentDiv {
        position: absolute;
        left: 100px;
    }

    .aud {
        background-image: url('images/audio.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px 30px;
        width: 50px;
        height: 30px;
    }

    #stop_time:hover {
        cursor: pointer;
    }

</style>

<script>
    var audioIsPlaying = false;
    $(function() {
        formSetup();
    });
    var a = 0;
    var count = [];
    $(document).ready(function() {

        createAudioWithDiv();

        var startTime = new Date().getTime();


        $('#stop_time').click(function() {
            var stopTime = new Date().getTime();
            var time = stopTime - startTime;
            $('#time').val(time);

            $('#stop_time').hide();
            $('input[type=submit]').show();
        });
    });

    //TO DO
    //knapper må kun kunne trykkes på 2 gange

    function playAudio(index) {
        var ind = index.id.slice(6);
        var d = document.getElementById("d" + ind);
        var audBut = document.getElementById("audBut" + ind);
        var sound = document.getElementById("file" + ind);
        if (sound.paused) {
            sound.load();
            sound.play();
            if (count[ind] > 0) {
                d.removeChild(audBut);
            } else {
                count[ind]++;
            }

        }
    }
    var audio = [];
    var audioIsPlaying = false;

    function createAudioWithDiv(audiofilesArray) {

        $('.contentDiv').each(function(i) {

            //an array of audiofiles 
            audio[i] = $('<audio/>').attr('src', audiofilesArray[i]);

            // a counter for checking amount of clicked
            var aCount = 2;

            //audiocontrol for each audiofiles
            $audioControl = $('<input/>')
                .attr({
                    class: 'green',
                    type: 'button',
                    id: 'audioControl' + i,
                    value: 'Afspil: ' + aCount
                })
                .click(function() {

                    if (this.value == "Afspil: 0") {
                        return;
                    }

                    //when clicked, set boolean to false
                    audioIsPlaying = false;

                    //check every audiofiles
                    for (var j = 0; j < audio.length; j++) {
                        //if any audio is playing (not paused)
                        if (!audio[j][0].paused) {
                            audioIsPlaying = true;
                        }
                    }

                    //if no audio is playing => play sound
                    if (!audioIsPlaying) {
                        audio[i][0].play();

                        //check if button has been clicked
                        if (this.value == "Afspil: 1") {
                            this.value = "Afspil: 0";
                            changeColor(i);
                        } else {
                            this.value = "Afspil: 1";
                        }
                    }
                });
            var img = $('<img>').attr({
                src: 'images/audio.png',
                class: 'img'
            });

            $(this)
                .prepend($audioControl)
                .prepend(img);




        });

    }

</script>
<% include functions %>
    <form id="form" method="post" action="/orddiktat_answer" enctype="multipart/form-data">

        <% for(var i=0; i<content.length; i++) { %>
            <div class="blockDiv">
                <div id="<%= 'd'+i %>" class="audDiv">
                    <input class="aud" id="<%= 'audBut'+i %>" type="button" onclick="playAudio(this)">
                    <span id="<%= 's'+i %>" hidden>0</span>
                </div>

                <div class="contentDiv">
                    <span><%= content[i].line1 %></span>
                    <input type="text" name="<%= 'answer_' + i %>" placeholder="Skriv ordet her">
                    <span><%= content[i].line2 %></span>
                </div>
            </div>
            <% } %>
                <input id="time" name="time" value="" hidden>
                <div id="stop_time">Gem</div>

                <input type="submit" hidden>

    </form>
