<style>
    .blockDiv {
        margin-bottom: 30px;
        height: 30px;
    }

    .audDiv,.contentDiv {
        display: inline;
    }

    .contentDiv {
        position: absolute;
        left: 100px;
    }

    .aud {
        background-image: url('images/audio.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px 30px;
        width: 50px;
        height: 30px;
    }

    #stop_time:hover {
        cursor: pointer;
    }

</style>

<script>
//    var audioIsPlaying = false;
    var count = [];
    $(function() {
        formSetup();
    });
   
    $(document).ready(function() {

        var startTime = new Date().getTime();
        

        $('#stop_time').click(function() {
            var stopTime = new Date().getTime();
            var time = stopTime - startTime;
            $('#time').val(time);

            $('#stop_time').hide();
            $('input[type=submit]').show();
        });
    });

    //TO DO
    //knapper må kun kunne trykkes på 2 gange

    function playAudio(index) {
        var audioIsPlaying = false;
        var ind = index.id.slice(6);
        var audBut = document.getElementById("audBut" + ind);
        // gather all audio to check if audio is being played
        var $audios = $('audio');

        
        
        for (var j = 0; j < $audios.length; j++) {
                //if any audio is playing (not paused)
                if (!$audios[j].paused) {
                    audioIsPlaying = true;
                }
            }
        //if no audio is playing => play sound
            if (!audioIsPlaying) {
                $audios[ind].play();
            }
        // default is false but can be set true if test needs to track clicks on sounds
        var trackTimes;
        // only relevant if tracking is needed
        // not fully working yet.
        if(trackTimes){
         if (audBut.value == 1) {
                    audBut.value =  0;   
                     
                } else {
                    audBut.value = 1;
                }
            }
    }


</script>
    <form id="form" method="post" action="/orddiktat_answer" enctype="multipart/form-data">

        <% for(var i=0; i<content.length; i++) { %>
            <div class="blockDiv">
                <div id="<%= 'd'+i %>" class="audDiv">
                    <input class="aud" id="<%= 'audBut'+i %>" type="button" onclick="playAudio(this)">
                    <span id="<%= 's'+i %>" hidden>0</span>
                </div>

                <div class="contentDiv">
                    <audio id="<%= 'file'+i %>" src="<%= audioFiles[i] %>"></audio>
                    <span><%= content[i].line1 %></span>
                    <input type="text" name="<%= 'answer_' + i %>" placeholder="Skriv ordet her">
                    <span><%= content[i].line2 %></span>
                </div>
            </div>
            <% } %>
        <input id="time" name="time" value="" hidden>
        <div id="stop_time">Gem</div>

    </form>
