<html>

<head>
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<!-- <script src="/js/test.js"></script> -->

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/oversigt.css">

	<style>
		* {
			font-family: Arial; 
		}

		#main-content {
			text-align: center; 
			width: 100%;
		}

		#main-table {
			display: inline-block;
			border-radius: 10px 10px 10px 10px;
			background-color: #117F44; 
			color: white; 
		}

		#main-table td {
			padding: 20px;
		}

		#main-table thead {
			font-size: large; 
		}

		#main-table tbody td {
			background-color: #15B743;
		}

		#td_last_left {
			border-radius: 0px 0px 0px 10px;			
		}

		#td_last_right {
			border-radius: 0px 0px 10px 0px;			
		}
	</style>
</head>

<body>

	
	<header>
        <% include header %>
    </header>

<!--
	<div id="header">
		<img class="header" id="head_1" src="images/VUC_logo.png" height="100">
		<h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
		<h3 class="header" id="head_3">VUC FYN ODENSE</h3>
	</div>
-->

	<h2>Velkommen <%=content.initials%></h2>

	<form id="form" method="post" action="/show_answers">
		<div id="main-content">
			<table id="main-table">
				<thead>
					<tr>
						<td colspan="4">
							<h3>Du har <%= content.totalTests %> quiz(zer). Her kan du se en oversigt over dine quizzer: </h4>
						</td>
					</tr>
					<tr>
						<td>Dato for oprettelse</td>
						<td>Link til quiz</td>
						<td>Antal besvarelser</td>
						<td>Resultater</td>
					</tr>
				</thead>
					
				<% for(var i=0; i < content.totalTests; i++) { %>
					<%if(content.tests[i]) {%>
					<tbody>
						<tr>
							<%if(i == content.totalTests-1) {%> 
								<td id="td_last_left">
							<% } else {%>
								<td>
							<% } %>
								<button type="button" class="ul_btn">+</button> Quiz <%=i+1%>: <%=content.tests[i].date.toLocaleString()%>:
								<ul class="ul_show" style="display: none">
									<% for(var j=0; j < content.tests[i].totalModules; j++) { %>
									<li>
										<%if(content.tests[i].modules[j]){%>
										<%=content.tests[i].modules[j].moduleType %>
										<%}%>
									</li>
									<% } %>
								</ul>
							</td>
							<td>
								<a href="/welcome<%= content.tests[i]._id %>">link</a>
							</td>
							<td>
								<%= content.tests[i].totalTestTaken %>
							</td>
							<%if(i == content.totalTests-1) {%> 
								<td id="td_last_right">
							<% } else {%>
								<td>
							<% } %>
								<input type="submit" class="seeAnswer" value="Se svar" name="<%= content.tests[i]._id %>">
								<!-- <input type="hidden" name="<%= content.tests[i]._id %>"> -->
							</td>
						</tr>
					</tbody>
					<% }%>
				<% } %>
			</table>
		</div>
	</form>

</body>

</html>
